<% include partials/_header %>
        <nav class="navbar mavbar-dark bg-dark mb-4">
            <a href="/users" class="navbar-brand">SiB</a>
                    <a href="/" class="navbar-brand pull-right">Logout</a>
        </nav>
        <div class="container-fluid">
<div class="col-sm-12">
        <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Actualizar usuario</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Llena los campos</h6>
<form action="/users/<%= user._id %>/update" method="POST">
<div class="form-group">
<input type="text" name="name" value="<%= user.name %>" placeholder="Insert name" class="form-control" />
</div>
<div class="form-group">
<input type="text" name="user_name" value="<%= user.user_name %>" placeholder="Insert username" class="form-control" />
</div>
<div class="form-group">
<input type="text" name="email" value="<%= user.email %>" placeholder="Insert email" class="form-control" />
</div>
<div class="form-group">
<input type="text" name="password" value="<%= user.password %>" placeholder="Insert password" class="form-control" />
</div>
<button type="submit" class="btn btn-primary btn-block">Editar</button>
</form>
</div>
</div>
</div>
</div>
<% include partials/_footer %>