<% include partials/_header %>
        <nav class="navbar mavbar-dark bg-dark mb-4">
            <a href="/" class="navbar-brand">Sib</a>
        </nav>
        <div class="container">
                <div class="card">
                        <div class="card-body">
                                <h5 class="card-title">Entrar</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Ingresa <b>demo</b> en usuario y contraseña</h6>
            <form action="/login" method="GET">
                <div class="form-group">
                    <input type="text" name="user_name" placeholder="Inserta usuario" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="password" placeholder="Inserta contraseña" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </form>
        </div>
    </div>
        </div>
        <% include partials/_footer %>